.container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid gray;
    min-width: 280px;
}

.title {
    font-size: 20px;
    font-weight: bold;
    color: #2d2d2d;
    text-align: center;
    margin-bottom: 10px;
}
